{
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "off",
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": false,
        "MethodDefinition": false,
        "ClassDeclaration": false,
        "ArrowFunctionExpression": false
      }
    }],
    "max-len": ["error", {
      "code": 90
    }],
    "comma-dangle": "off",
    "arrow-parens": ["error", "as-needed"],
    "consistent-return": "off",
    "radix": ["off"],
    "no-undef-init": 0,
    "no-undef": 2,
    "quotes": ["off", "single"],
    "arrow-spacing": "error",
    "react/jsx-uses-react": "error",
    "no-constant-condition": "off",
    "semi": "off",
    "global-require": "off",
    "no-shadow": "off",
    "no-unused-expressions": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]

  },
  "env": {
    "node": true
  }
}
