<html>
    <p>Hi,</p>
    <p>You have ordered new password for DrQMuller service.
    This email contains a link where you can reset your forgotten password.</p>
    <a href="<%= resetPasswordLink %>">Please click here to reset your password</a>
    <p>The link will be valid for 5 hours and can be used only once.</p>
    <p>This message has been generated automatically, please do not reply.</p>
    <p>Best regards,</p>
    <p><Customer service/p>
    <p><DrQMuller Viet Nam/p>
    <p><Customer service/p>
</html>
